.DisplayInfo-block-container {
    .red {
        color: rgb(240, 34, 68);
    }

    .green {
        color: black;
    }

    background-color: #e2e2e2;

    img {
        width: 100px;
        height: 100px;
    }
}