.red {
    color: red;
}

.green {
    color: black;
}

body {
    padding: 0px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}

.app-container {
    .header-container {
        .navbar {
            padding-top: 20px;
            z-index: 10;
            background-color: rgba(0, 0, 0, 0) !important;

            .nav-link {
                &.active {
                    color: rgb(84, 231, 231);
                }
            }
        }

        .btn-login {
            height: 40px;
            border-radius: 5px;
            margin-right: 15px;
            padding: 0 15px;
            border: 1px solid #6e6d6d;
        }

        .btn-sign-up {
            height: 40px;
            border-radius: 5px;
            margin-right: 15px;
            background-color: black;
            color: white;
            padding: 0 15px;
            border: 1px solid #535353;

            &:hover {
                background-color: rgb(49, 49, 49);
            }
        }
    }

    .homepage-container {
        .homepage-content {
            padding: 100px;
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .title-1 {
                font-size: 45px;
                font-weight: 600;
            }

            .title-2 {
                font-size: 25px;
            }

            .title-3 {
                font-size: 25px;
                border-radius: 5px;
                margin-right: 15px;
                background-color: black;
                color: white;
                padding: 10px 20px;
                border: 1px solid #535353;

                &:hover {
                    background-color: rgb(49, 49, 49);
                }
            }
        }
    }
}

video {
    position: fixed;
    bottom: 0;
    width: 100vw;
}